{% extends '::base.html.twig' %}

{% block title %}Hostings{% endblock %}

{% block headerPanel %}
    <div class="pull-right">
        <a href="{{ path('hosting_new') }}" class="btn-default btn">
            Create a new entry
        </a>
    </div>
{% endblock headerPanel %}

{% block body %}
    <table class="table table-stripped va">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="100">
                {{ knp_pagination_render(entities) }}
            </td>
        </tr>
        </tfoot>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('hosting_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('hosting_show', { 'id': entity.id }) }}" class="btn-default btn">show</a>

                        <a href="{{ path('hosting_edit', { 'id': entity.id }) }}" class="btn-default btn">edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('hosting_new') }}" class="btn-default btn">
        Create a new entry
    </a>
{% endblock %}
