<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/manager.css') }}"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block menu %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">Server Manager</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% if app.user %}
                <ul class="nav navbar-nav">
                    {% if is_granted('ROLE_REDMINE') %}
                        <li>
                            <a href="{{ path('site') }}">Sites</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('ROLE_REDMINE_ADMIN') %}
                        <li>
                            <a href="{{ path('framework') }}">Frameworks</a>
                        </li>
                        <li>
                            <a href="{{ path('hosting') }}">Hosting</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    <br>
{% endblock menu %}
<div class="container">
    <main class="content">
        {% block header %}
            <div class="page-header">
                <h1>{{ block('title') }}{% block headerPanel %}{% endblock headerPanel %}</h1>
            </div>
        {% endblock header %}

        {% for flashType in app.session.flashbag.keys %}
            {% for flash in app.session.flashbag.get(flashType) %}
                <div class="alert alert-{{ flashType }}">{{ flash }}</div>
            {% endfor %}
        {% endfor %}

        {% block body %}

        {% endblock %}
    </main>
</div>
{% block javascripts %}
    <script src="{{ asset('js/bundle.js') }}"></script>
{% endblock %}
</body>
</html>
