{% extends 'bootstrap_3_horizontal_layout.html.twig' %}

{%- block form -%}
    {% if attr.delete_form is defined and attr.delete_form %}
        {{ form_start(form, {'attr': {'class': 'form-single-button'}}) }}
        {{- form_widget(form) -}}
        {#{% block submit_row %}#}
            {#{{ form_widget(form, {'attr': {'class': 'btn-danger'}}) }}#}
        {#{% endblock %}#}
        {{ form_end(form) }}
    {% else %}
        {{ form_start(form) }}
        {{- form_widget(form) -}}
        {{ form_end(form) }}
    {% endif %}
{%- endblock form -%}

{% block collection_widget %}
    {% spaceless %}
        <div class="form-collection">
            <div class="form-collection-elements">
                {% for subform in form %}
                    <div class="form-collection-element">
                        {% if allow_delete %}
                            <div class="row">
                                <div class="col-xs-10">
                                    {{ form_widget(subform) }}
                                </div>
                                <div class="col-xs-2">
                                    <a class="form-collection-delete btn btn-small btn-danger">Delete</a>
                                </div>
                            </div>
                        {% else %}
                            {{ form_widget(subform) }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% if prototype is defined %}
                {% set prototype %}
                <div class="form-collection-element">
                    <div class="row">
                        <div class="col-xs-10">
                            {{ form_widget(prototype) }}
                        </div>
                        <div class="col-xs-2">
                            <a class="form-collection-delete btn btn-small btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
                {% endset %}
                <div class="form-collection-footer">
                    {% if label is empty %}
                        {% set label = name|humanize %}
                    {% endif %}
                    <a data-prototype="{{ prototype|e }}" class="form-collection-add btn btn-small btn-success">New {{ label }}</a>
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block form_help -%}
    {%  if attr['help-block'] is defined %}
        <span class="help-block">{{ attr['help-block']|raw }}</span>
    {% endif %}
{%- endblock form_help %}

{% block form_errors -%}
    {{ parent() }}
    {{- block('form_help') -}}
{%- endblock form_errors %}

{% block radio_widget -%}
    {%- set parent_label_class = (parent_label_class|default('') ~ ' radio-inline')|trim -%}
    {{- parent() -}}
{%- endblock radio_widget %}

{% block radio_label %}
    {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' btn btn-default')|trim}) %}
    {% if checked %}
        {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' active')|trim}) %}
    {% endif %}
    {{- parent() -}}
{% endblock radio_label %}
