{% extends '::base.html.twig' %}

{% block title %}Edit Site{% endblock %}

{% block headerPanel %}
    <div class="pull-right">
        {{ form_start(delete_form) }}
        {{ form_widget(delete_form.submit,{'attr':{'class':'btn-danger','onclick':'return confirm("Are you sure you want to delete?")'}}) }}
        {{ form_end(delete_form) }}
    </div>
{% endblock headerPanel %}

{% block body %}
    {{ form(edit_form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $("#appbundle_site_project").select2({
            placeholder: 'Project Name',
            minimumInputLength: 3,
            cache: true,
            ajax: {
                url:  "{{ path('project_typeahead') }}",
                dataType: "json",
                type: "GET",
                delay: 1000,
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {
                                text: item.name,
                                id: item.id
                            }
                        })
                    };
                }
            }
        }).on('select2:select', function () {
            var route = "{{ path('project_members') | escape('js') }}";
            $.ajax({
                type: 'POST',
                url: route,
                data: {'project': $('#appbundle_site_project').val()},
                success: function (data) {
                    $('#appbundle_site_developer, #appbundle_site_responsibleManager').empty();

                    if (data.client) {
                        $('#appbundle_site_client').val(data.client.id).trigger('change.select2');
                        $('.newClient').hide();
                    } else {
                        $('#appbundle_site_client').val('').trigger('change.select2');
                    }

                    data.developers.forEach(function (item) {
                        $('#appbundle_site_developer').append('<option value="'+item.id+'">'+item.name+'</option>')
                    });

                    data.managers.forEach(function (item) {
                        $('#appbundle_site_responsibleManager').append('<option value="'+item.id+'">'+item.name+'</option>')
                    });
                },
                error: function (data) {
                    console.log(data);
                }
            });
            $('#appbundle_site_responsibleManager').removeAttr('disabled');
            $('#appbundle_site_developer').removeAttr('disabled');
        });

        $(document).ready(function () {
            $('#appbundle_site_endDate').datetimepicker();
            $(".client, #appbundle_site_responsibleManager, #appbundle_site_developer, #appbundle_site_client").select2();
            $("#appbundle_site_project").append('<option value="{{ entity.project.id }}">{{ entity.project.name }}</option>');

            $.ajax({
                type: 'POST',
                url: "{{ path('project_members') | escape('js') }}",
                data: {'project': $('#appbundle_site_project').val()},
                success: function (data) {
                    $('#appbundle_site_developer, #appbundle_site_responsibleManager').empty();

                    if (data.client) {
                        $('#appbundle_site_client').val(data.client.id).trigger('change.select2');
                        $('.newClient').hide();
                    } else {
                        $('#appbundle_site_client').val('').trigger('change.select2');
                    }

                    data.developers.forEach(function (item) {
                        $('#appbundle_site_developer').append('<option value="'+item.id+'">'+item.name+'</option>')
                    });

                    data.managers.forEach(function (item) {
                        $('#appbundle_site_responsibleManager').append('<option value="'+item.id+'">'+item.name+'</option>')
                    });

                    $('#appbundle_site_developer').val({{ entity.developer.id }});
                    $('#appbundle_site_responsibleManager').val({{ entity.responsibleManager.id }});

                },
                error: function (data) {
                    console.log(data);
                }
            });
            $('#appbundle_site_responsibleManager').removeAttr('disabled');
            $('#appbundle_site_developer').removeAttr('disabled');

            var flag = false;
            $('#appbundle_site_client').on('change', function () {
                if (this.value == '') {
                    $('.newClient').show();
                    flag = true;
                } else {
                    if (flag == true){
                        $('.newClient').hide();
                        flag = false;
                    }
                }
            }).change();
        });
    </script>
{% endblock %}