{% extends '::base.html.twig' %}

{% block title %}Sites{% endblock %}

{% block headerPanel %}
    <div class="pull-right">
        <a href="{{ path('site_new') }}" class="btn-default btn">
            Create a new entry
        </a>
    </div>
{% endblock headerPanel %}

{% block body %}
    <div class="search-wrapper clearfix">
        {{ form(form) }}
    </div>
    <table class="table table-stripped va">
        <thead>
        <tr>
            <th class="text-center">Id</th>
            <th>Project</th>
            <th>Name</th>
            <th class="text-center">Framework</th>
            <th class="text-center">Framework Version</th>
            <th class="text-center">Framework Current Version</th>
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="100">
                {{ knp_pagination_render(entities) }}
            </td>
        </tr>
        </tfoot>
        <tbody>
        {% for entity in entities %}

            {% set version = entity.frameworkVersion %}
            {% set currentVersion = entity.framework ? entity.framework.currentVersion : '' %}
            {% set actual = version==currentVersion %}

            <tr class="{{ actual?'actual':'not-actual' }}">
                <td class="text-center"><a href="{{ path('site_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.project %}{{ entity.project.name }}{% endif %}</td>
                <td>{{ entity.name }}</td>
                <td class="text-center">{{ entity.framework ? entity.framework.name : '' }}</td>
                <td class="text-center">{{ version }}</td>
                <td class="text-center">{{ currentVersion }}</td>
                <td class="text-center">
                    <div class="btn-group">
                        <a href="{{ path('site_show', { 'id': entity.id }) }}" class="btn-default btn">show</a>

                        <a href="{{ path('site_edit', { 'id': entity.id }) }}" class="btn-default btn">edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% form_theme form _self %}
{% block submit_row %}
    {% set submit_id = form.vars.name ? form.vars.name ~ '_submit' : 'form_submit' %}
    <button type="submit" id="{{ submit_id }}" class="btn-default btn">Search</button>
{% endblock %}
