{% extends '::base.html.twig' %}

{% block title %}Sites{% endblock %}

{% block body %}
    <table class="table table-stripped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Project</th>
            <th>Name</th>
            <th>Live</th>
            <th>Framework</th>
            <th>Framework Version</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('site_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.project %}{{ entity.project.name }}{% endif %}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.live }}</td>
                <td>{{ entity.framework ? entity.framework.name : '' }}</td>
                <td>{{ entity.frameworkVersion }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('site_show', { 'id': entity.id }) }}" class="btn-default btn">show</a>

                        <a href="{{ path('site_edit', { 'id': entity.id }) }}" class="btn-default btn">edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('site_new') }}" class="btn-default btn">
        Create a new entry
    </a>
{% endblock %}
