{% extends '::base.html.twig' %}

{% block title %}{{ entity.name }}{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>{{ block('title') }}
            <div class="pull-right">
                {{ form_start(delete_form, {'attr': {'delete_form': true}}) }}
                    {{ form_widget(delete_form.submit,{'attr':{'class':'btn-danger', 'onclick':'return confirm("Are you sure you want to delete?")'}}) }}
                {{ form_end(delete_form) }}
            </div>
            <div class="pull-right">
                <a href="{{ path('site_edit', { 'id': entity.id }) }}" class="btn-default btn header-edit-btn">Edit</a>
            </div>
        </h1>
    </div>
{% endblock header %}

{% block body %}
    <table class="table inner">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Framework Version</th>
                <td>{{ entity.frameworkVersion }}</td>
            </tr>
            <tr>
                <th>Admin Login</th>
                <td>{{ render(controller('AppBundle:Login:show', {'login': entity.adminLogin})) }}</td>
            </tr>
            <tr>
                <th>Database Login</th>
                <td>{{ render(controller('AppBundle:Login:show', {'login': entity.databaseLogin})) }}</td>
            </tr>

            {% if (entity.servers|length) %}
                <tr>
                    <th>Servers</th>
                    <td>
                        {% for server in entity.servers %}
                            {{ render(controller('AppBundle:Server:show', {'server': server})) }}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}

            {% if (entity.domains|length) %}
                <tr>
                    <th>Domains</th>
                    <td>
                        {% for domain in entity.domains %}
                            {{ render(controller('AppBundle:Domain:show', {'domain': domain})) }}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
