<table class="table">
    <tbody>
    <tr>
        <th>Username</th>
        <td>{{ entity.username }}</td>
    </tr>
    <tr>
        <th>Password</th>
        <td>{{ entity.password }}</td>
    </tr>
    <tr>
        <th>SSH Key</th>
        <td>{{ entity.sshKey }}</td>
    </tr>
    <tr>
        <th>Host</th>
        <td>{{ entity.hostname }}:{{ entity.port }}</td>
    </tr>
    <tr>
        <th>Url</th>
        <td>{{ entity.url }}</td>
    </tr>
    </tbody>
</table>
